 @import 'tailwindcss';
/*
.glass-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    background-color: rgba(173, 216, 230, 0.1); 
    backdrop-filter: blur(12px); 
    color: white;
    padding: 2rem;
    z-index: 10;
  }
  
  .glass-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  
  .glass-content h1 {
    font-size: 2.25rem; 
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .glass-content p {
    font-size: 1.125rem; 
    max-width: 28rem;    
  }
   */